__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
reports/*.pdf
data/*.csv
!data/final_training_data.csv
!data/sample_bulk_upload.csv
models/*.pkl
!models/best_underwriting_model.pkl
!models/scaler.pkl
!models/encoder.pkl
!models/v4_meta.pkl
.vscode/
.idea/
.DS_Store
